<main>
   <div>
      {{#if noPoems}}
      {{!-- If there aren't any poems in the website display this --}}
      <p>Apologies the site is devoid of poems or something went horribly wrong</p>
      {{else}}
      {{!-- If there are poems, do the functionality --}}
      <h1>Popular Poems</h1>
      <ul>
         {{#each poemList}}
         <li>
            <a href="/poems/{{this._id}}">{{this.title}}</a>
            <span>By:</span>
            <a href="/user/{{this.userId}}">{{this.username}}</a>
         </li>
         {{/each}}
      </ul>
      {{/if}}


   </div>
</main>