{{!-- login form --}}
<main>
    <p id="userViewId" hidden="">{{userViewId}}</p>
    <h2>{{username}}</h2>
    <p>Account Age: {{account_age}}</p>
    <p>Biography: {{bio}}</p>

    <button id="followUnfollowBtn"></button>

    <ul>
        <li><a href="/user/{{userViewId}}">Poems</a></li>
        <li><a href="/user/{{userViewId}}/tagged-poems">Tagged Poems</a></li>
        <li><a href="/user/{{userViewId}}/followers">Followers</a></li>
        <li><a href="/user/{{userViewId}}/following">Following</a></li>

    </ul>

    {{#if poems}}
    {{> user/poems}}
    {{/if}}

    {{#if tagged_poems}}
    {{> user/tagged-poems}}
    {{/if}}

    {{#if followers}}
    {{> user/followers}}
    {{/if}} 

    {{#if following}}
    {{> user/following}}
    {{/if}}

    <script type='module' src="/public/js/user/user-view.js"></script>
</main>