<main class="poem-container">
   <div class="poem-header">
      <img class="author-picture"src="/public/assets/profile-pic.jpg">
      <div class="poem-header-metadata">
         <h1>{{poem.title}}</h1>
         <p>
            By:
            <a href="/user/{{poem.userId}}">{{username}}</a>
         </p>
         {{#if poem.link}}
         Link to Reading: <a href="{{poem.link}}">{{poem.link}}</a>
         {{/if}}
      </div>
   </div>

   {{!-- TODO action buttons --}}
   <div class="poem-actions">
      <form id='addTagForm'>
         <input type='text' id='TagString' name='TagString'>
         <input type='submit' value='Tag it!'>
         <p id="error-tag" class="error"></p>
      </form>
      <p id="poemId_" hidden="">{{poemId_}}</p>
      <button type="button" id="likeBtn">Like it!</button>

      {{#if isAuthor}}
      <a href="/poems/edit/{{poem._id}}">
         <button type="button" id="EditIt">Edit it!</button>
      </a>
      {{/if}}

   </div>

   <div class="poem-body">
      {{!-- TODO markdown render --}}
      <div class="poem-markdown">{{{poem.body}}}</div>

      <ol class="poem-comments">
         <h2>Comments</h2>
         {{#each poem.comments as |comment|}}
         {{!-- TODO Only top-level comments, AJAX for comment replies? or
         partial? --}}
         {{#unless comment.repliesTo}}
         {{!-- TODO AJAX for comment author? --}}
         <li class="poem-comment-container">
            <div class="poem-comment-author-info">
               <p>{{comment.userId}}</p>
               <p>{{comment.tagId}}</p>
            </div>
            <p class="comment-string">
               {{{comment.commentString}}}
            </p>
         </li>
         {{/unless}}
         {{/each}}
      </ol>
   </div>
   
   <button type="button" id="showTagsBtn">Show Tags</button>
   <div id="tag-view" hidden="">
      <p>Global Poem Tags</p>
      <ul id="global-tags"></ul>
      <p>My Poem Tags</p>
      <ul id="user-tags"></ul>
   </div>

   {{!-- TODO fix errors --}}
   <p class="error">{{error}}</p>

   {{#if isAuthor}}
   <a href="/"></a>
   {{/if}}
   <script type='module' src="/public/js/poems/poemView.js"></script>
</main>