<main class="poem-container">
   <div class="poem-header">
      <div class="author-picture">author pp</div>
      <div class="poem-header-metadata">
         <h1>{{poem.title}}</h1>
         <p>
            By:
            <a href="/user/{{poem.userId}}">FIXME{{username}}</a>
         </p>
         {{#if poem.link}}
         Link to Reading: <a href="{{poem.link}}">{{poem.link}}</a>
         {{/if}}
      </div>
   </div>

   {{!-- TODO action buttons --}}
   <div class="poem-actions">
      <form id='addTagForm'>
         <input type='text' id='TagString' name='TagString'>
         <input type='submit' value='Tag it!'>
      </form>
      <button type="button" id="SaveIt">Save it!</button>
      <button type="button" id="LikeIt">Like it!</button>
   </div>
   <script type='module' src="../../public/js/poemView.js"></script>

   <div class="poem-body">
      {{!-- TODO markdown render --}}
      <div class="poem-markdown">{{{poem.body}}}</div>

      <ol class="poem-comments">
         <h2>Comments</h2>
         {{#each poem.comments as |comment|}}
         {{!-- TODO Only top-level comments, AJAX for comment replies? or
         partial? --}}
         {{#unless comment.repliesTo}}
         {{!-- TODO AJAX for comment author? --}}
         <li class="poem-comment-container">
            <div class="poem-comment-author-info">
               <p>{{comment.userId}}</p>
               <p>{{comment.tagId}}</p>
            </div>
            <p class="comment-string">
               {{{comment.commentString}}}
            </p>
         </li>
         {{/unless}}
         {{/each}}
      </ol>
   </div>

   <ol class="poem-tags">
      {{#each poem.submittedTags as |tag|}}
      {{!-- TODO AJAX for tag strings? --}}
      <li class="poem-tag-container">{{tag.tagId}}</li>
      {{/each}}
   </ol>

   {{!-- TODO fix errors --}}
   <p class="error">{{error}}</p>

   {{#if isAuthor}}
   <a href="/"></a>
   {{/if}}

</main>